<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello

    <br><br>


    <form id="signin" action="login/" method="post">
        {% csrf_token %}
    
        <input type="text" name="username" placeholder="Enter Your Username" required><br>
    
        <input type="password" name="password" placeholder="Enter Password" required><br>
        <button type="submit" class="submit_btn">Login</button>
        <p class="message">Forgot Password? <a href="{% url "password_reset" %}">Click here !</a></p>
    </form>
        <br><br>

        <form id="signup" action="signup/" method="post">
            {% csrf_token %}

			<input type="text" placeholder="Enter Your First Name" name="fname" required>
			<input type="text" placeholder="Enter Your Last Name" name="lname" required>
            <input type="text" placeholder="Create Username (Use only letters and numbers)" id="username" name="username" required>


            <input type="email" placeholder="Enter Your Email" name="email"  required>
            <input type="password" value="" id="pass1" name="pass1" placeholder="Enter Password" required>

            <input type="password" value="" id="pass2" name="pass2" placeholder="Confirm Password" required>

            <input type="phone" placeholder="Mobile No" name="mob" id="mob" required>

            <input type="text" placeholder="City" name="city" id="city" required>
            <button type="submit" class="submit_btn" data-bs-dismiss="modal">Signup</button>

		</form>
    
</body>
</html>